 @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
  /*background-color: darkseagreen;*/
html {
scroll-behavior: smooth;
}
/* Header */
.header {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}
.none {
display: none !important;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

  padding-top: 80px;
  padding-bottom: 80px;

  border-bottom-right-radius: 100px;
background-color: rgb(255, 255, 255);
color: aliceblue;
}
.header .container {
position: relative;
z-index: 9;
}
.header-video {
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
}
.header-row {
display: flex;
font-display: row;
align-items: center;
column-gap: 60px;


}
.header-img {
  border-radius: 80px;
}
.header-tittle {
  margin-bottom: 10px;
font-weight: 700;
font-size: 60px;
color: #000;
}
.header-text {
margin-bottom: 20px;
font-size: 26px;
font-weight: 300;
color: #000;
}
.header-btns {
display: flex;
cg: 20px;

}
.btn {
  height: 48px;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
background-color: #000000;
border-radius: 8px;
color: #ffffff;
transition: all 0.2s ease-in;
}
.btn:hover {
background-color: #2f4798;
}
.btn-outline {
  height: 48px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
border: 1px solid #000;
color: #000000;
line-height: 1;
transition: all 0.2s ease-in;
}
.btn-outline:hover {
border: #2f4798;
}

.portfolio {
padding: 80px 0;
}
.portfolio-title {
  margin-bottom: 65px;
font-size: 52px;
font-weight: 700;
text-align: center;
}
.projects{

}

.project{
text-align: center;
}
.project-img{
  margin-bottom: 30px;
border-radius: 30px;
}

.project-title{
font-size: 22px;
}

.project-title{
color: #000;
text-decoration: underline;
}

/*Contacts*/

.contacts {
background-color: #242424;
border-top-left-radius: 100px;
color: #ffffff;
padding: 80px 0;

}

.contacts-title {
  margin-bottom: 65px;
text-align: center;
font-size: 52px;
font-weight: 700;

}

.messangers {
display: flex;
column-gap: 30px;
flex-wrap: wrap;
}
.messanger {
border-radius: 20px;
border: 1px solid #f9f9f9;

color: #ffffff;
}
.footer-inner p + p {
margin-top: 15px;
}

/* Inner page*/

.inner-page {
padding: 80px 0 40px;
}
.inner-page-details {
margin-bottom: 40px;
text-align: center;
display: flex;
  flex-direction: column;
  row-gap: 25px;
align-items: center;
}

.inner-page-title {
font-size: 52px;
font-weight: 700;
}
.inner-page-text {
max-width: 570px;
display: flex;
  flex-direction: column;
  row-gap: 25px;

  color: #555;
  line-height: 1.5;
}
.inner-page-link {
color: #000;
}
.inner-page-link a {
color: #000;
text-decoration: underline;
}
.inner-page-img {
display: block;
margin: 0 auto;
margin-bottom: 40px;
}

.inner-page-backlink {
max-width: 770px;
padding: 30px;
margin: 0 auto;
background-color: #bebebe;
text-align: center;
color: #000;
display: flex;
align-items: center;
justify-content: center;
column-gap: 10px;
transition: all 0.2s ease-in ;
}
.inner-page-backlink:hover {
background-color: #6e6e6e;


}